<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.LanguageDAO">

    <resultMap id="languageResultMap" type="com.example.domain.Language">
        <id column="language_id" property="languageId"/>
        <result column="name" property="name"/>
        <result column="last_update" property="lastUpdate"/>
    </resultMap>

    <select id="getLanguageList" resultMap="languageResultMap">
        SELECT language_id, name, last_update
        FROM language;
    </select>
	<insert id="addLanguage" parameterType="com.example.domain.Language">
        INSERT INTO language (name, last_update)
        VALUES (#{name},now());
    </insert>

    <update id="updateLanguage" parameterType="com.example.domain.Language">
        UPDATE language
        SET name = #{name}, last_update = now()
        WHERE language_id = #{languageId};
    </update>

    <delete id="deleteLanguage" parameterType="int">
        DELETE FROM language
        WHERE language_id = #{languageId};
    </delete>
	
	
</mapper>
